.container .jumbotron {
	background-color: #FFF;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid gray;
	border-top: 0px;
	padding: 0;
}

.tab-page-header {
	display: block;
	height: 1em;
	border-radius: 1px;
}

.tab-page-inner {
	padding: 15px 60px 30px 60px;
}

li.disable a {
	background-color: #DDDDDD !important; 
	border-color: #DDDDDD !important;
	color: #AAAAAA !important;
}

li.disable a:hover {
	cursor: default;
}

li:not(.disable) a.search-tab, div.search-tab {
	background-color: #3B8686 !important; 
	border-color: #3B8686 !important;
}

li:not(.active):not(.disable) a.search-tab:hover {
	background-color: #2B7676 !important; 
}

li:not(.disable) a.date-tab, div.date-tab {
	background-color: #79BD9A !important;
	border-color: #79BD9A !important;
}

li:not(.active):not(.disable) a.date-tab:hover {
	background-color: #69AD8A !important; 
}

li:not(.disable) a.ticket-tab, div.ticket-tab {
	background-color: #A8DBA8 !important;
	border-color: #A8DBA8 !important;
}

li:not(.active):not(.disable) a.ticket-tab:hover {
	background-color: #98CB98 !important;
}

li:not(.disable) a.payment-tab, div.payment-tab {
	background-color: #BFE08E !important;
	border-color: #BFE08E !important;
}

li:not(.active):not(.disable) a.payment-tab:hover {
	background-color: #AFD07E !important;
}

.masthead li:not(.disable) a {
	color: white !important;
}

.masthead li a {
	border: 1px solid white;
	border-bottom: 0px !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.masthead li:not(:first-child) a {
	margin-left: 2px;
}

.masthead li a:hover {
	color: #0B486B;
}

#search-tab {
	display: block;
}

#date-tab, #ticket-tab, #payment-tab {
	display: none;
}

.openmap {
	height: 250px;
	width: 100%;	
}


/* search */

.airport_item div {
	display: inline-block;
	font-size: 12px;
}

.airport_item .code {
	min-width: 40px;
	padding-left: 5px;
	color: gray;
}

.airport_item .airport {
	display: block;
}

.airport_item .city {
	float: right;
	color: gray;
}

.airport_item .clear {
	clear: both;
}

.ui-widget-content {
	background: white;
	z-index: 1000;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    width: 470px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 350px;
}

.searchAirport {
	/*width: 100px;*/
	text-align: left;
	display: inline-block;
}

.searchAirport input {
	padding-left: 5px;
	width: 194px;
	margin: 0;
	padding-top: 0;
	position: relative;
	top: -5px;
	display: none;
	border-radius: 5px;
	height: 51px !important;
}

input.datepicker {
	height: 51px !important;
}

.searchAirport .fakeInput {
	padding-left: 5px;
	border: 2px solid #ccc;
	height: 51px;
	font-size: 16px;
	width: 194px;
	border-radius: 5px;
	line-height: 1;
	padding: 7px;
}

.searchAirport .fakeInput:hover {
	cursor: text;
}

.searchAirport .fakeInput .city {
	font-size: 18px;
}
.searchAirport .fakeInput .code {
	height: 12px;
	font-size: 12px;
	display: block;
	color: gray;
	text-align: right;
}

.searchFlight {
	display: block;
}

.datepicker {
	border: 2px solid #ccc;
	border-radius: 5px;
	position: relative;
	top: -5px;
	padding-left: 10px;
	width: 170px;
}

.selectdate {
	display: inline;
}


.selectdate span {
	color: gray;
	position: relative;
	left: -40px;
	top: -3px;
}

.searchFlights {
	display: inline-block;
}

.sidebutton {
	height: 40px;
	padding: 5px 10px !important;
	position: relative;
	top: -5px;

}

.removeflight {
	visibility: hidden;
	position: relative;
	left: -13px;
}

.jumbotron {
	text-align: left;
}

#add-roundtrip {
	visibility: hidden;
}

.searchFlight .warning {
	border-color: #a94442;
}

.search-alert {
	display: none;
}

.searchFlights {
	margin-top: 15px;
}

@media (min-width: 768px) {
	.tab-page-inner {
		padding: 15px 15px 30px 15px;
	}
}

@media (max-width: 767px) {
	.searchFlight {
		width: 194px;
	}
	.datepicker {
		margin-top: 5px; 
		width: 194px;
	}	

	.selectdate span {
		left: 160px;
		top: -50px;
	}

	.removeflight {
		left: -27px;
	}

	.tab-page-inner {
		padding: 15px 15px 30px 15px;
	}

	.searchFlights {
		display: block;
	}
}


/* Date */

#date-tab h3 {
	float: left;
}

.skip {
	padding: 5px 10px !important;
	float: right;
	margin: 15px 0 ;
}

.clear {
	clear: both;
}

.date-alert {
	display: none;
}

.bestdateselect .title {
	border: 1px solid #ccc;
	padding: 0 20px;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.bestdateselect.warning .title {
	border: 1px solid #a94442;
	background-color: #f2dede;
}

.bestdateselect .title .code {
	color: gray;
}

.bestdateselect .title .code:before {
	content: "(";
}

.bestdateselect .title .code:after {
	content: ")";
}

.bestdateselect .options {
	border: 1px solid #ccc;
	border-top: 0px;
	box-sizing: content-box;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.bestdateselect.warning .options {
	border: 1px solid #a94442;
}

.bestdateselect .options input {
	display: none;
}

.bestdateselect .options label:hover {
	cursor: pointer;
}


.bestdateselect {
	margin-bottom: 15px;
}

.bestdateselect .options .price:before {
	content: "R$ "
}

@media (min-width: 768px) {

	.bestdateselect .options .option {
		display: inline-block;
		width: 13.3%;
		margin-top: 10px;
		box-sizing: content-box;
		border: none;
		margin: 10px 3px 0 3px;

	}

	.bestdateselect .options label {
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
		width: 100%;
		box-sizing: content-box;
		padding: 5px 0;

		border-radius: 5px;

	}

	.bestdateselect .options span {
		box-sizing: content-box;

	}

	input[type="radio"]:checked + label {
	    border: 3px solid #44a942;
	}

	input[type="radio"]:not(checked) + label {
	    border: 3px solid rgba(0,0,0,0);
	}
	
	input[type="radio"]:not(checked) + label:hover {
	    border: 3px solid #e9e942;
	}

	.bestdateselect .options .weekday {
		display: block;
		font-size: 16px;
		
	}

	.bestdateselect .options .date {
		display: block;
		color: gray;
	}

	.bestdateselect .options .price {
		display: block;
		margin-top: 5px;
		color: #a94442;
	}

	.bestdateselect .options .min {
		color: #44a942;
	}

	.bestdateselect .title div {
		display: inline-block;
	}


	.bestdateselect .title div {
		display: inline-block;
	}

	.bestdateselect .title .date {
		float: right;
	}

	.bestdateselect .title .to:before {
		margin: 0 20px;
		content: "->";
	}
}

@media (max-width: 767px) {
	.bestdateselect .title .from:before {
		content: "Origem: ";
		color: gray;
	}
	.bestdateselect .title .to:before {
		content: "Destino: ";
		color: gray;
	}
	.bestdateselect .title .date:before {
		content: "Data buscada: ";
		color: gray;
	}

	.bestdateselect .options .option {
		display: block;
		
		margin: 0 15px;
		position: relative;

	}

	.bestdateselect .options label {
		padding: 0 5px;
		font-size: 14px;
		width: 100%;
		border-radius: 5px;

	}

	input[type="radio"]:checked + label {
	    border: 3px solid #44a942;
	}

	input[type="radio"]:not(checked) + label {
	    border: 3px solid rgba(0,0,0,0);
	}
	
	input[type="radio"]:not(checked) + label:hover {
	    border: 3px solid #e9e942;
	}

	.bestdateselect .options .weekday {
		font-size: 16px;
		
	}

	.bestdateselect .options .date {
		color: gray;
	}

	.bestdateselect .options .price {
		color: #a94442;
		float: right;
		padding-top: 3px;
	}

	.bestdateselect .options .min {
		color: #44a942;
	}

	.bestdateselect .options .date:before {
		content: "(";
	}

	.bestdateselect .options .date:after {
		content: ")";
	}
}

/* sideinfo */

.sideinfo {
	display: none;
}

.sideinfo li .code {
	display: none;
}

.sideinfo li .city {
	display: inline-block;
}

.sideinfo li .from {
	display: inline-block;
}

.sideinfo li .to {
	display: inline-block;
}


.sideinfo li .pricedate {
	display: block;
}

.sideinfo li .date {
	float: right;
}

.sideinfo li .price:before {
	content: "R$ ";
}


.sideinfo li .to:before {
	margin: 0 5px;
	content: "->";
}

.sideinfo ul {
    list-style-type: none;
    padding: 0 15px;
}

.sideinfo li {
	margin-bottom: 7px;
}

.sideinfo .total-price {
	padding: 0 15px;
}

.sideinfo .total-price:before {
	content: "R$ ";
}
