.container .jumbotron {
	background-color: #FFF;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid gray;
	border-top: 0px;
	padding: 0;
}

.tab-page-header {
	display: block;
	height: 1em;
	border-radius: 1px;
}

.tab-page-inner {
	padding: 15px 60px 30px 60px;
}

li.disable a {
	background-color: #DDDDDD !important; 
	border-color: #DDDDDD !important;
	color: #AAAAAA !important;
}

li.disable a:hover {
	cursor: default;
}

li:not(.disable) a.search-tab, div.search-tab {
	background-color: #3B8686 !important; 
	border-color: #3B8686 !important;
}

li:not(.active):not(.disable) a.search-tab:hover {
	background-color: #2B7676 !important; 
}

li:not(.disable) a.date-tab, div.date-tab {
	background-color: #79BD9A !important;
	border-color: #79BD9A !important;
}

li:not(.active):not(.disable) a.date-tab:hover {
	background-color: #69AD8A !important; 
}

li:not(.disable) a.ticket-tab, div.ticket-tab {
	background-color: #A8DBA8 !important;
	border-color: #A8DBA8 !important;
}

li:not(.active):not(.disable) a.ticket-tab:hover {
	background-color: #98CB98 !important;
}

li:not(.disable) a.payment-tab, div.payment-tab {
	background-color: #BFE08E !important;
	border-color: #BFE08E !important;
}

li:not(.active):not(.disable) a.payment-tab:hover {
	background-color: #AFD07E !important;
}

.masthead li:not(.disable) a {
	color: white !important;
}

.masthead li a {
	border: 1px solid white;
	border-bottom: 0px !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.masthead li:not(:first-child) a {
	margin-left: 2px;
}

.masthead li a:hover {
	color: #0B486B;
}

#search-tab {
	display: block;
}

#date-tab, #ticket-tab, #payment-tab {
	display: none;
}

.openmap {
	height: 250px;
	width: 100%;	
}


.olControlAttribution {
	display: none !important;
}

/* search */

.airport_item div {
	display: inline-block;
	font-size: 12px;
}

.airport_item .code {
	min-width: 40px;
	padding-left: 5px;
	color: gray;
}

.airport_item .airport {
	display: block;
}

.airport_item .city {
	float: right;
	color: gray;
}

.airport_item .clear {
	clear: both;
}

.ui-widget-content {
	background: white;
	z-index: 1000;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    width: 470px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 350px;
}

.searchAirport {
	/*width: 100px;*/
	text-align: left;
	display: inline-block;
}

.searchAirport input {
	padding-left: 5px;
	width: 194px;
	margin: 0;
	padding-top: 0;
	position: relative;
	top: -5px;
	display: none;
	border-radius: 5px;
	height: 50px !important;
	font-size: 18px;
	margin-top: 1px;
}

input.datepicker {
	height: 51px !important;
	font-size: 18px;
}

.searchAirport .fakeInput {
	padding-left: 5px;
	border: 2px solid #ccc;
	height: 51px;
	font-size: 16px;
	width: 194px;
	border-radius: 5px;
	line-height: 1;
	padding: 7px;
	position: relative;
	top: 5px;
}

.searchAirport .fakeInput.filled {
	top: 5px;
}

.searchAirport .fakeInput:not(.filled) {
	
}


.searchAirport .fakeInput:hover {
	cursor: text;
}

.searchAirport .fakeInput .city {
	font-size: 18px;
}
.searchAirport .fakeInput .second_line {
	height: 12px;
	font-size: 12px;
	display: block;
	color: gray;
	text-align: right;
}

.fakeInput .lat, .fakeInput .long {
	display: none;
}

.airport_item .lat, .airport_item .long {
	display: none;
}

.second_line .code.not(.waiting) {
	display: none;
}

.second_line .option {
	display: none;
}

.selecticon {
	float: right;
}

.second_line button {
	width: 100% !important;
	height: 20px;
	color: gray;
	border: none;
	background: none;
}

.second_line button:hover {
	color: blue;
}

.second_line select {
	display: none;
}

.searchFlight {
	display: block;
}
.ui-multiselect { height:25px; overflow-x:hidden; padding:2px 0 2px 4px; text-align:left }

.selectline1 {
	margin-left: 5px;
}

.selectcode, .selectdistance, .selectname {
	display: inline-block;
}

.selectname:before {
	content: "-";
	margin: 0 5px;
}

.selectdistance {
	color: gray;
} 

.ui-multiselect-menu {
	width: 510px !important;
}

.ui-multiselect-checkboxes input {
	margin-left: 5px;
	/*width: 5%;*/
}

.ui-multiselect-checkboxes input:hover {
	border: none
}

.ui-multiselect-checkboxes span {
	display: inline-block;
	font-weight: normal;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	width: 95%;
}

button .selectdistance, button .selectname {
	display: none;
}


button .selectline1 {
	margin-left: 0;
	display: inline-block;
}

button .selectline2 {
	display: none;
}

.selectdistance {
	float: right;
}

.datepicker {
	border: 2px solid #ccc;
	border-radius: 5px;
	position: relative;
	top: -5px;
	padding-left: 10px;
	width: 170px;
}

.selectdate {
	display: inline;
}


.selectdate span {
	color: gray;
	position: relative;
	left: -40px;
	top: -3px;
}

.searchFlights {
	display: inline-block;
}

.sidebutton {
	height: 40px;
	padding: 5px 10px !important;
	position: relative;
	top: -5px;

}

.removeflight {
	visibility: hidden;
	position: relative;
	left: -13px;
}

.jumbotron {
	text-align: left;
}

#add-roundtrip {
	visibility: hidden;
}

.searchFlight .warning {
	border-color: #a94442;
}

.search-alert {
	display: none;
}

.searchFlights {
	margin-top: 15px;
}

@media (min-width: 768px) {
	.tab-page-inner {
		padding: 15px 15px 30px 15px;
	}
}

@media (max-width: 767px) {
	.searchFlight {
		width: 194px;
	}
	.datepicker {
		margin-top: 5px; 
		width: 194px;
	}	

	.selectdate span {
		left: 160px;
		top: -50px;
	}

	.removeflight {
		left: -27px;
	}

	.tab-page-inner {
		padding: 15px 15px 30px 15px;
	}

	.searchFlights {
		display: block;
	}
}


/* Date */

#date-tab h3 {
	float: left;
}

.skip {
	padding: 5px 10px !important;
	float: right;
	margin: 15px 0 ;
}

.clear {
	clear: both;
}

.date-alert {
	display: none;
}

.bestdateselect .title {
	border: 1px solid #ccc;
	padding: 0 20px;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.bestdateselect.warning .title {
	border: 1px solid #a94442;
	background-color: #f2dede;
}

.bestdateselect .title .code {
	color: gray;
}

.bestdateselect .title .code:before {
	content: "(";
}

.bestdateselect .title .code:after {
	content: ")";
}

.bestdateselect .options {
	border: 1px solid #ccc;
	border-top: 0px;
	box-sizing: content-box;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.bestdateselect.warning .options {
	border: 1px solid #a94442;
}

.bestdateselect .options input {
	display: none;
}

.bestdateselect .options label:hover {
	cursor: pointer;
}


.bestdateselect {
	margin-bottom: 15px;
}

.bestdateselect .options .price:before {
	content: "R$ "
}

@media (min-width: 768px) {

	.bestdateselect .options .option {
		display: inline-block;
		width: 13.3%;
		margin-top: 10px;
		box-sizing: content-box;
		border: none;
		margin: 10px 3px 0 3px;

	}

	.bestdateselect .options label {
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
		width: 100%;
		box-sizing: content-box;
		padding: 5px 0;

		border-radius: 5px;

	}

	.bestdateselect .options span {
		box-sizing: content-box;

	}

	input[type="radio"]:checked + label {
	    border: 3px solid #44a942;
	}

	input[type="radio"]:not(checked) + label {
	    border: 3px solid rgba(0,0,0,0);
	}
	
	input[type="radio"]:not(checked) + label:hover {
	    border: 3px solid #e9e942;
	}

	.bestdateselect .options .weekday {
		display: block;
		font-size: 16px;
		
	}

	.bestdateselect .options .date {
		display: block;
		color: gray;
	}

	.bestdateselect .options .price {
		display: block;
		margin-top: 5px;
		color: #a94442;
	}

	.bestdateselect .options .min {
		color: #44a942;
	}

	.bestdateselect .title div {
		display: inline-block;
	}


	.bestdateselect .title div {
		display: inline-block;
	}

	.bestdateselect .title .date {
		float: right;
	}

	.bestdateselect .title .to:before {
		margin: 0 20px;
		content: "->";
	}
}

@media (max-width: 767px) {
	.bestdateselect .title .from:before {
		content: "Origem: ";
		color: gray;
	}
	.bestdateselect .title .to:before {
		content: "Destino: ";
		color: gray;
	}
	.bestdateselect .title .date:before {
		content: "Data buscada: ";
		color: gray;
	}

	.bestdateselect .options .option {
		display: block;
		
		margin: 0 15px;
		position: relative;

	}

	.bestdateselect .options label {
		padding: 0 5px;
		font-size: 14px;
		width: 100%;
		border-radius: 5px;

	}

	input[type="radio"]:checked + label {
	    border: 3px solid #44a942;
	}

	input[type="radio"]:not(checked) + label {
	    border: 3px solid rgba(0,0,0,0);
	}
	
	input[type="radio"]:not(checked) + label:hover {
	    border: 3px solid #e9e942;
	}

	.bestdateselect .options .weekday {
		font-size: 16px;
		
	}

	.bestdateselect .options .date {
		color: gray;
	}

	.bestdateselect .options .price {
		color: #a94442;
		float: right;
		padding-top: 3px;
	}

	.bestdateselect .options .min {
		color: #44a942;
	}

	.bestdateselect .options .date:before {
		content: "(";
	}

	.bestdateselect .options .date:after {
		content: ")";
	}
}

/* sideinfo */

.sideinfo {
	display: none;
}

.sideinfo li .code {
	display: none;
}

.sideinfo li .city {
	display: inline-block;
}

.sideinfo li .from {
	display: inline-block;
}

.sideinfo li .to {
	display: inline-block;
}


.sideinfo li .pricedate {
	display: block;
}

.sideinfo li .date {
	float: right;
}

.sideinfo li .price:before {
	content: "R$ ";
}


.sideinfo li .to:before {
	margin: 0 5px;
	content: "->";
}

.sideinfo ul {
    list-style-type: none;
    padding: 0 15px;
}

.sideinfo li {
	margin-bottom: 7px;
}

.sideinfo .total-price, .sideinfo .side-travelers {
	padding: 0 15px;
}

.sideinfo .no-stop {
	padding: 0 15px;
	margin-bottom: 10px;
} 


.sideinfo .total-price:before {
	content: "R$ ";
}

/* ticket */

#ticket-tab  .tabs {
	border: none !important;
	font-size: 14px;
	line-height: 1.3;
}

#ticket-tab .ui-widget-header {
	border: none !important;
	background: none !important;
}

#ticket-tab .ui-tabs-panel {
	border: 1px solid #ccc !important;
	border-radius: 5px;
}

#ticket-tab .ui-tabs-anchor {
	font-size: 14px;
}

#ticket-tab .ui-tabs-anchor .code {
	display: none;
}




#ticket-tab .ui-tabs-anchor .date {
	margin-top: 5px;
	color: gray;
	font-weight: normal;
}

#ticket-tab .tabs .price:before {
	content: "R$ ";
}

#ticket-tab .tabs .stops {
	display: block;
}

#ticket-tab .tabs .arrival:before {
	content: "-";
	margin: 0 5px 0 5px;
}

#ticket-tab .tabs .arrival_airport:before {
	content: " ";
	margin: 0 10px;
}




#ticket-tab .odd {
	background-color: white;
}

#ticket-tab .sorting_1 {
	background-color: #fafafa;
}

#ticket-tab table, #ticket-tab thead {
	border-radius: 5px;
}

#ticket-tab th {
	text-align: center;
	background-color: #dbdbdb;
	padding: 10px 0;
}

#ticket-tab .sorting_asc {
	background-color: #ccc;
}

#ticket-tab  table {
	border-radius: 5px !important;
	border-collapse: collapse !important;
	border: none !important;
}
#ticket-tab table th, #ticket-tab table td { 
	border: none !important;
	

}

#ticket-tab table td { 
	border-top: 1px solid #ccc !important;
	background-color: #fafafa;
}

#ticket-tab table th:first-child {
  border-radius: 5px 0 0 0 !important;
}
#ticket-tab table th:last-child {
  border-radius: 0 5px 0 0 !important;
}
#ticket-tab table tr:last-child td:first-child {
  border-radius: 0 0 0 5px !important;
}
#ticket-tab table tr:last-child td:last-child {
  border-radius: 0 0 5px 0 !important;
}

#ticket-tab table tr:hover td { 
	
	background-color: #eaeaea;
	cursor: pointer;
}

.dataTables_info {
	margin-top: 10px;
}

.paging_full_numbers {
	float: left;
	margin-top: 10px;
}

#ticket-tab table img {
	background-color: white;
	border: 1px solid black;
}

.row_selected td {
	background-color: #99f992 !important;
}

#ticket-tab  .skip {
	margin: 0;
	position: relative;
	top: 15px;
}

#ticket-tab  label {
	position: relative;
	top: -20px;
}

li {
	background-image: none !important;
}

/* payments */

.review-flights .flight {
	line-height: 1.3;
	font-size: 14px;
	margin: 20px 0;
}

.review-flights .flight .header {
	padding: 10px 0 5px 10px;
}

.review-flights .flight .header .date {
	font-size: 24px;
}

.review-flights .flight .airline {
	float: left;
}

.review-flights .flight .date {
	float: left;
	padding: 5px 0 0 10px;
}




.review-flights .flight .from {
	float: left;
	width: 40%;
	padding: 0 10px 10px 10px;
}

.review-flights .flight .to {
	float: left;
	width: 40%;
	padding: 0 10px 10px 10px;
}

.review-flights .flight .side {
	float: left;
	width: 20%;
	padding: 0 10px 10px 10px;
}

.review-flights .flight div.time, .review-flights .flight div.duration {
	font-size: 20px;
	margin-bottom: 5px;
}

.review-flights .flight .time .text, .review-flights .flight .duration .text {
	color: gray;
}

.review-flights .flight .place .text {
	font-weight: bolder;
	color: gray;
}

.review-flights .flight .place .city {
	color: gray;
}
.review-flights .flight .place .city:before {
	content: "(";
}
.review-flights .flight .place .city:after {
	content: ")";
}

.review-flights .flight .airport {
	margin-top: 5px;
}

.review-flights .flight .edit-flight {
	float: right;
	font-size: 24px;
	margin: 0 5px;
}

.review-flights .flight .show-flight {
	float: right;
	font-size: 24px;
	margin: 0 5px;
}

.review-flights .flight .airport .name:before {
	margin: 0 10px;
	content: "-";
}

.review-flights .flight span.price {
	color: #77d972;
	font-size: 20px;
} 

.review-flights .flight span.price:before {
	content: "R$ ";
	
} 

.review-flights .flight:not(:first-child) {
	border-top: 4px solid #ccc;
	margin: 20px 0;
	padding-top: 20px;
}

.review-flights .flight .stops {
	padding: 0 10px 10px 10px;
}
.review-flights .flight .stops .airport {
	margin: 0;
}

.review-flights .flight .stops .text {
	color: gray;
}

.review-flights .flight .stops .text:after {
	content: ":"
}

.review-flight-total {
	border-top: 4px solid #ccc;
	margin: 20px 0;
	padding-top: 20px;
} 

.review-flight-total .text {
	float: left;
	width: 80%;
	padding: 0 10px 10px 10px;
}

.review-flight-total div.price {
	
} 

.review-flight-total span.price {
	color: #77d972;
	font-size: 20px;
	padding: 0 10px 10px 10px;
} 

.review-flight-total span.price:before {
	content: "R$ ";
	
} 

/* Payment */

.input-group-lg input, .input-group-lg button {
	height: 48px !important;
	padding: 6px 12px !important;
	font-size: 17px !important;
}

input.half {
	width: 50% !important;
}

input.fifth4 {
	width: 80% !important;
}

input.fifth3 {
	width: 60% !important;
}
input.fifth1 {
	width: 20% !important;
}

input.fifth2 {
	width: 40% !important;
}

input.quater {
	width: 25% !important;
}


input.seventy {
	width: 70% !important;
}

.payment input.first {
	border-top-right-radius: 5px !important;
}

.payment input.last {
	border-top-right-radius: 0 !important;
}

.payment button.notlast {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	margin-left: 0 !important;
}

.payment button.last {
	margin-left: -6px !important;
}

.none {
	display: inline-block;
}

#expireMM:before {
	content: "Vencimento";
}

#expireYY:before {
	content: "/"
}



.input-group {
	margin-top: 10px;
}

.warning-message {
	font-size: 12px;
}

#pay-next {
	margin-top: 20px;
}

.payment-alert {
	display: none;
}

.payment .warning {
	border-color: #a94442;
}

.success-payment {
	text-align: center !important;
	display: none;
}

.flight-img {
	display: none;
}

.erase-search {
	margin-top: 30px;
}

p.middle {
	text-align: center;
}

.empty {
	color: #a5a5a5;
}

#selectdate{
	margin-left: 25px;
}

label.check:hover, input[type="checkbox"]:hover {
	cursor: pointer;
}

.selectquantity label{
	width: 125px;
	font-size: 16px;
	float: left;
	line-height: 1.3;
}

.selectquantity input {
	width: 70px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 10px;
	float: left;
}

.selectquantity span.desc {
	font-size: 12px;
	color: gray;
}

.selectquantity span.title {
	display: block;
	margin-top: 5px;
}

.selectquantity {
	display: inline-block;
	margin-right: 25px;
}

.quantities, #search-next {
	margin-top: 15px;
}

.quantities .warning {
	border-color: #a94442;
}

.expire, .country {
	background-color: white;
	border-left: 1px solid #ccc !important;
	font-size: 14px !important;
	color: rgb(85, 85, 85);
	font-weight: normal;
}

.expire, .country {
	border: 1px solid rgb(204, 204, 204);
	border-bottom-right-radius: 5px;
	border-collapse: separate;
	display: inline-block;
	
	height: 48px;
	padding: 6px 12px;
	vertical-align: middle;
	width: 35%;
	float: right;
}


.expire {

	border-top-right-radius: 5px;
}

.country select, .expire select {
	
	position: relative;
	top: 2px;
}

.formlabel {
	float: left;
	position: relative;
	top: 1px;
	margin-right: 10px;
}

@media (max-width: 992px) {
	.formlabel {
		display: none;
	}
}

@media (min-width: 993px) {
	.formlabel {
		display: inline-block;
		color: rgb(85, 85, 85);
		font-weight: normal;
		font-size: 100%;
	}
}

.travelers .input-group-addon .inner {
	width: 112px;
	display: inline-block;
}

.row {
	min-width: 600px;
}

